html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: black;
    background-color: rgb(54, 54, 54);
}

.destaque{
    padding-left: 50px;
}

#mufasPicture{
    width: 70px;
    height: 70px;
}

.container {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: chocolate;
   margin-bottom: 10px;
}

.busca {
    background-color: chocolate;
    font-weight: bold;
    text-transform: uppercase;
    width: 230px;
    margin-right: 10px;
    float: left;
}

.menu-opcoes {
    display: flex;
    
    position: absolute;
    top: 7px;
    right: 20px;

}

.menu-opcoes a {
    text-decoration: none;
    color: #003366;

}

.menu-conteudo ul li {
    
    margin-left: 10px;
    margin-right: 20px;
}
.menu-conteudo li ul{
    display: none;/*por padrão escondida*/
}

.menu-conteudo li:hover ul{
    display:block;/*no mouse aparece*/
}

.menu-conteudo ul ul li{
    background-color: #dcdcdc;
}

.menu-conteudo {
    background-color: chocolate;
    font-weight: bold;
    text-transform: uppercase;
    width: 230px;
    margin-right: 10px;
    

    float: left;
}

.menu-conteudo {
    clear: left;
}

.painel {
    margin: 10px 0px;
    padding: 10px;
    width: 445px;
    background-color: indigo;
}

.blog {
    float: right;
    background-color: violet;
}

.painel li {
    display: inline-block;
    width: 150px;
    margin: 2px;
    padding-bottom: 10px;
}

#imagem {
    width: 10%;
}



footer{
    width: 20%;
    height: auto;
    position: relative;
}

.social{
    position: absolute;
    right: 0px;
    bottom: 0px;
    float: left;
}

.social a{
    width: 20px;
    height: 20px;
}

footer img{
    width: 60%;
    height:auto;
}

.social li{
    float: left;
}

header a:before{
    content: '<'
}

header a::after{
    content: '>';
}
header a:hover{
    background-color: aqua;
}
