html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #07498a;
    background-color: rgb(54, 54, 54);
}

header{
    width: 100%;
    height: 120px;
    padding: 15px 0px 0px 15px;
    background-color: chocolate;
    font-size: 20px;
    color: whitesmoke;
    
}

.container{
    display: flex;
}

.logo figcaption{
    margin: 0px 0px 0px -5px;

}

nav{
    margin: 10px;
}

.menu-opcoes ul li{
    display: inline;
    margin: 10px;
    font-size: 25px;

}

.social{
    width: 100%;
    height: 100%;
    display: flex;
}

.social a{
    width: 50px;
    height: 50px;

}

.social a[href*="github.com"] {
    background-image: url(../img/icons8-github-240.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}

.social a[href*="instagram.com"] {
    background-image: url(../img/icons8-instagram-240.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}
.social a[href*="linkedin.com"] {
    background-image: url(../img/icons8-linkedin-240.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}

#mufasPicture{
    width: 90px;
    height: 90px;
}

.foot{
    width: 100%;
    height: 100px;
    background-color: rgb(136, 136, 136);
    margin: 550px 0px 0px 0px;
}