body{
    background-image: url(../bgIMG/cansei.jpg) ;
    background-repeat: no-repeat;
    height:1920px;
    background-attachment:fixed;

}

#NCanonico{
    font-size: 35px;
    margin-left: 20px;
}

.eduardo{
    margin: 50px 90px 0px 90px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid whitesmoke;

}
.eduardo #Canonico{

    font-size: 35px;
    margin-left: 20px;
    color: black;
}

.frutaNumList{
    color: black;
}
.caberalho{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 10px 15px 10px 15px;
    z-index: 10;
    border-bottom:1px solid gray ;
}

.frutas{
    display: flex;
    
    background-color: white;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}
.itemFruitList{
    font-size: 22px;
    margin-left: 20px;
    color: black;
    width: 800px;
    text-align: justify;
}
.itemFruitList img{
    width: 250px;
    height: 250px;
}

.links{ 
    margin: 0px 20px 0px 20px;
    color: black;
}

#imagem th{
    border: 2px solid white;
    text-align: right;
}
#imagem td{
    border: 2px solid white;
    text-align: left;
    margin-left: 10px;
}
#imagem table{
    margin: auto;
}
#imagem{
    align-items: center;
    justify-content: center;
    border: 20px solid rgb(169, 2, 203);
    color: whitesmoke;
    text-align: center;
    background-color: rgb(169, 2, 203);;
    border-radius: 2%;
    margin: 0px 20px 400px 20px;
}
#bbimg{
    border: 2px solid white;
    border-radius: 2%;
    margin: 20px;
    width: 450px;
    height: 500px;
}
