html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
}
div{
    width: 20%;
    height: 20%;
    background-color: lightsalmon;
    margin: 0px 10px 0px 10px;
    font-family: sans-serif;
    text-align: center;
}

.a {
    border-radius: 10px;
}

.b{
    border-radius: 50%;
}

.c{
    border-radius: 10px 5px 30px;
}

.d{
    border-radius: 10px 5px 20px 50px ;
}

.e{
    border-radius: 10px;
    box-shadow: 10px 10px 5px/*o 3 é o borrao*/;
}

.f{
    border-radius: 10px;
    box-shadow: 10px 10px 5px green, 10px -10px 5px;
}