body{
    background-image: url(../bgIMG/cansei.jpg) ;
    background-repeat: no-repeat;
    height:1920px;
    background-attachment:fixed;

}

#NCanonico{
    font-size: 35px;
    margin-left: 20px;
}

.frutas #Canonico{

    font-size: 35px;
    margin-left: 20px;
    color: black;
}

.frutaNumList{
    color: black;
}
.caberalho{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 10px 15px 10px 15px;
    z-index: 10;
    border-bottom:1px solid gray ;
}

.frutas{
    margin: 50px 90px 0px 90px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}
.itemFruitList{
    
    margin-left: 30px;
    color: black;
}
.itemFruitList img{
    width: 250px;
    height: 250px;
}

.links{ 
    margin: 0px 20px 0px 20px;
    color: black;
}
